@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>This is a demo showing off the features of HTTP/2.  Sample Code can be found online at <a href="http://github.com/bendewey/http2imagedemo">http://github.com/bendewey/Http2ImageDemo</a></p>
