@{
    ViewBag.Title = "Home Page";
}


@if (string.IsNullOrEmpty(ViewBag.Image))
{
    <h4>No Demo Selected</h4>
}
else
{
    <h2>@ViewBag.Image on @ViewBag.Sheme</h2>

    <div class="img-grid-container">

        @for (var i = 1; i <= 600; i++)
        {
            <img src='@("/images/" + ViewBag.Image + "/" + ViewBag.Image + "_" + i.ToString().PadLeft(2, '0') + ".jpg")' />
        }
        

    </div>
}

